name: CI

on:
  push:
    branches:
      - main
      - develop
      - 'feature/**' 
  pull_request:
    branches:
      - main
      - develop
      - 'feature/**'

jobs:
  integration-delivery:
    runs-on: ubuntu-latest
    environment: Test
    container:
      image: node
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build website
        run: npm run build


